<div class=" navbar navbar-fixed-top navbar navbar-default">
    <div class="navbar-inner">
        <div class="container">
            <a href="{{ url_for('{0}.home'.format(appnamed())) }}" class="brand">{{ appname() }}</a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('log_view.get_log') }}">View Logs</a>
                </li>
                </li>
                <li>
                   <a href="{{ url_for('{0}.home'.format(appnamed())) }}">Link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
